//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');
@import './fonts';
@import './vars';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    //font-family: 'Roboto', sans-serif;
    font-family: 'Gilroy', sans-serif;
    background: $white;
    color: $black;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all .15s;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}
