@import '../../styles/vars';

.stat__item {
    display: flex;
    align-items: center;

    &-name {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 15px;
    }

    &-wrap {
        background-color: rgba($gray, .3);
        border-radius: 4px;
        overflow: hidden;
        flex-grow: 1;
    }

    &-bar {
        display: block;
        text-align: right;
        background-color: $blue;
        border-radius: 4px;
        padding-right: 5px;
        font-size: 12px;
        color: $white;
    }

    &-metric {
        font-size: 18px;
        font-weight: 900;
        color: $blue;
        line-height: 1;
    }

    &_progress {

    }
}
